/* HEADER SECTION STARTS*/
.header-container {
    height: 850px;
    background-color: #E554731A;

}

.banner {
    margin: 0 auto;
    width: 1920px;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
    align-items: center;
}

.banner-section {
    display: flex;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
    align-items: center;
}

.bannerimg {
    width: 50%;

}

.btnPrimary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    display: inline-flex;
    padding: 20px 43px;
    color: white;
    align-items: flex-start;
    gap: 10px;
}

.hero-section {
    width: 50%;
}

.hero-text {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Main Section Style Start here*/

.feature-flowers {
    display: flex;
    justify-content: center;

}

.our-featured-flowers {
    padding: 0;
}

.feature-text {
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
}

.pngwing-5 {}

.rectangle-1 {
    border-radius: 100% 100% 0 0;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.rectangle-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.rectangle-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.underline-text {
    display: flex;
    justify-content: center;
}

.ul-text {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

}

.p-ul {
    padding: 0px 24px;
}

.rectangle-section {
    display: flex;
    justify-content: center;

}

.rectangle {
    padding: 0px 24px;
    width: 342px;
    height: 396px;

}

.insta-section-text {
    text-align: center;
    padding: 0px 24px 663px 663;
}

.instagram-title {
    padding: 0px;

}

/* FOOTER SECTION STYLES*/

.footer-section {
    background: #111010;
    width: 100%;
    height: 449px;
    margin: 30px auto;
}

h2 {
    text-align: center;
    padding: 128px;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo-primary {
    color: #E55473;
    padding: 128px 0 0;
}

.logo-shop {
    color: #FFFFFF;
}

.footer-text {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;

}

.copyright-text {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;

}

.service-section {
    margin: 0px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 320px;
}

.icons {
    display: flex;
    justify-content: center;
    padding-top: 80px;

}

.sameday-deliv {
    padding: 0px 50px;
}

.fresh-flower {
    padding: 0px 50px;
}

.free-support {
    padding: 0px 50px;
}

/* HOT DEAL STYLE START*/

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    margin-top: 80px;
}

.offer-container {
    display: flex;
    justify-content: center;
    padding: 100px;

}

.offer-content {
    text-align: center;
}

.sales-up-to {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.its-a-long-stablished {
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.off {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn-locator{
justify-content: center;
}

